@font-face {
    font-family: 'opensans_regular';
    src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'opensans_bold';
    src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'opensans_extrabold';
    src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'opensans_semibold';
    src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}